.dice {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border: 1px solid black;
  border-radius: 10px;
}

.dice div {
  position: absolute;
  border-radius: 50%;
  width: 15%;
  height: 15%;
  background-color: black;
}

.upperLeft {
  top: 15%;
  left: 15%;
}

.upperRight {
  top: 15%;
  right: 15%;
}

.upperCenter {
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
}

.middleLeft {
  top: 50%;
  left: 15%;
  transform: translateY(-50%);
}

.middleRight {
  top: 50%;
  transform: translateY(-50%);
  right: 15%;
}

.middleCenter {
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.lowerLeft {
  bottom: 15%;
  left: 15%;
}

.lowerRight {
  bottom: 15%;
  right: 15%;
}

.lowerCenter {
  bottom: 15%;
  left: 50%;
  transform: translateX(-50%);
}

@media only screen and (max-width: 1000px) {
  .dice {
    width: 60px;
    height: 60px;
  }
}